In [2]:
import pandas as pd
import datetime as dt

In [3]:
df = pd.read_csv('pollution_us_2000_2016.csv')

In [8]:
df.head()

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,1.145833,4.2,21,NaN
1,1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,0.878947,2.2,23,25.0
2,2,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,1.145833,4.2,21,NaN
3,3,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,0.878947,2.2,23,25.0
4,4,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,...,Parts per billion,1.958333,3.0,22,4.0,Parts per million,0.850000,1.6,23,NaN

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1746661 entries, 0 to 1746660
Data columns (total 29 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   State Code         int64
 2   County Code        int64
 3   Site Num           int64
 4   Address            object
 5   State              object
 6   County             object
 7   City               object
 8   Date Local         object
 9   NO2 Units          object
 10  NO2 Mean           float64
 11  NO2 1st Max Value  float64
 12  NO2 1st Max Hour   int64
 13  NO2 AQI            int64
 14  O3 Units           object
 15  O3 Mean            float64
 16  O3 1st Max Value   float64
 17  O3 1st Max Hour    int64
 18  O3 AQI             int64
 19  SO2 Units          object
 20  SO2 Mean           float64
 21  SO2 1st Max Value  float64
 22  SO2 1st Max Hour   int64
 23  SO2 AQI            float64
 24  CO Units           object
 25  CO Mean            float64
 26  CO 1st Max Value   float64
 27  CO 1st Max Hour    int64
 28  CO AQI             float64
dtypes: float64(10), int64(10), object(9)
memory usage: 386.5+ MB

In [10]:
df['Date Local'] =  pd.to_datetime(df['Date Local'])

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1746661 entries, 0 to 1746660
Data columns (total 29 columns):
 #   Column             Dtype
---  ------             -----
 0   Unnamed: 0         int64
 1   State Code         int64
 2   County Code        int64
 3   Site Num           int64
 4   Address            object
 5   State              object
 6   County             object
 7   City               object
 8   Date Local         datetime64[ns]
 9   NO2 Units          object
 10  NO2 Mean           float64
 11  NO2 1st Max Value  float64
 12  NO2 1st Max Hour   int64
 13  NO2 AQI            int64
 14  O3 Units           object
 15  O3 Mean            float64
 16  O3 1st Max Value   float64
 17  O3 1st Max Hour    int64
 18  O3 AQI             int64
 19  SO2 Units          object
 20  SO2 Mean           float64
 21  SO2 1st Max Value  float64
 22  SO2 1st Max Hour   int64
 23  SO2 AQI            float64
 24  CO Units           object
 25  CO Mean            float64
 26  CO 1st Max Value   float64
 27  CO 1st Max Hour    int64
 28  CO AQI             float64
dtypes: datetime64[ns](1), float64(10), int64(10), object(8)
memory usage: 386.5+ MB

In [12]:
df['Date Local'].dt.year

0          2000
1          2000
2          2000
3          2000
4          2000
           ...
1746656    2016
1746657    2016
1746658    2016
1746659    2016
1746660    2016
Name: Date Local, Length: 1746661, dtype: int64

In [13]:
poll_2016_df = df[df['Date Local'].dt.year == 2016]
#exclude = df[df['Date Local'].dt.year != 2016]

In [30]:
poll_2016_df

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
1722057,0,1,73,23,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,2016-01-01,Parts per billion,...,Parts per billion,0.413636,1.2,3,1.0,Parts per million,0.129545,0.140,2,NaN
1722058,1,1,73,23,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,2016-01-01,Parts per billion,...,Parts per billion,0.413636,1.2,3,1.0,Parts per million,0.100000,0.100,7,1.0
1722059,2,1,73,23,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,2016-01-01,Parts per billion,...,Parts per billion,0.400000,0.7,5,NaN,Parts per million,0.129545,0.140,2,NaN
1722060,3,1,73,23,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,2016-01-01,Parts per billion,...,Parts per billion,0.400000,0.7,5,NaN,Parts per million,0.100000,0.100,7,1.0
1722061,4,1,73,23,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,2016-01-02,Parts per billion,...,Parts per billion,0.663636,1.4,3,1.0,Parts per million,0.259091,0.710,23,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1746656,24599,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-30,Parts per billion,...,Parts per billion,0.000000,0.0,2,NaN,Parts per million,0.091667,0.100,2,1.0
1746657,24600,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,...,Parts per billion,-0.022727,0.0,0,0.0,Parts per million,0.067714,0.127,0,NaN
1746658,24601,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,...,Parts per billion,-0.022727,0.0,0,0.0,Parts per million,0.100000,0.100,0,1.0
1746659,24602,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,...,Parts per billion,0.000000,0.0,5,NaN,Parts per million,0.067714,0.127,0,NaN
1746660,24603,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,Parts per billion,...,Parts per billion,0.000000,0.0,5,NaN,Parts per million,0.100000,0.100,0,1.0

In [34]:
poll_2016_df.to_csv('Pollution_2016_csv.csv', index = False)

In [45]:

pollution_2016_df = poll_2016_df[['Address', 'State', 'County', 'City', 'Date Local', 'NO2 AQI', 'O3 AQI', 'SO2 Mean', 'SO2 AQI', 'CO Mean','CO AQI']]

In [46]:
pollution_2016_df

,Address,State,County,City,Date Local,NO2 AQI,O3 AQI,SO2 Mean,SO2 AQI,CO Mean,CO AQI
1722057,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,2016-01-01,4,25,0.413636,1.0,0.129545,NaN
1722058,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,2016-01-01,4,25,0.413636,1.0,0.100000,1.0
1722059,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,2016-01-01,4,25,0.400000,NaN,0.129545,NaN
1722060,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,2016-01-01,4,25,0.400000,NaN,0.100000,1.0
1722061,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,2016-01-02,25,28,0.663636,1.0,0.259091,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1746656,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-30,1,44,0.000000,NaN,0.091667,1.0
1746657,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,1,44,-0.022727,0.0,0.067714,NaN
1746658,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,1,44,-0.022727,0.0,0.100000,1.0
1746659,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,1,44,0.000000,NaN,0.067714,NaN
1746660,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,1,44,0.000000,NaN,0.100000,1.0

In [48]:
pollution_2016_df = pollution_2016_df.fillna(0.0).copy()

In [49]:
pollution_2016_df

,Address,State,County,City,Date Local,NO2 AQI,O3 AQI,SO2 Mean,SO2 AQI,CO Mean,CO AQI
1722057,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,2016-01-01,4,25,0.413636,1.0,0.129545,0.0
1722058,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,2016-01-01,4,25,0.413636,1.0,0.100000,1.0
1722059,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,2016-01-01,4,25,0.400000,0.0,0.129545,0.0
1722060,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,2016-01-01,4,25,0.400000,0.0,0.100000,1.0
1722061,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,2016-01-02,25,28,0.663636,1.0,0.259091,0.0
...,...,...,...,...,...,...,...,...,...,...,...
1746656,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-30,1,44,0.000000,0.0,0.091667,1.0
1746657,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,1,44,-0.022727,0.0,0.067714,0.0
1746658,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,1,44,-0.022727,0.0,0.100000,1.0
1746659,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,1,44,0.000000,0.0,0.067714,0.0
1746660,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,1,44,0.000000,0.0,0.100000,1.0

In [78]:
AQI_2016 = pollution_2016_df.groupby([pollution_2016_df['Date Local'].dt.month, 'State']).agg({'NO2 AQI': 'mean', 'O3 AQI': 'mean', 'SO2 AQI' :'mean', 'CO AQI': 'mean'})

In [79]:
AQI_2016

                             NO2 AQI     O3 AQI   SO2 AQI     CO AQI
Date Local State
1          Alabama         21.258065  28.129032  4.935484   4.967742
           Arizona         31.067797  29.288136  1.440678   8.830508
           Arkansas        22.064516  29.161290  0.903226   5.322581
           California      16.287582  28.274510  0.932462   6.296296
           Colorado        48.365591  23.666667  5.387097  10.870968
...                              ...        ...       ...        ...
4          Texas           17.166667  43.155556  1.277778   3.377778
5          Alabama         22.516129  49.774194  7.516129   3.709677
           Iowa            14.532258  43.701613  0.177419   3.064516
           Maine           12.322581  33.774194  0.419355   3.129032
           North Carolina  11.354839  46.645161  0.032258   2.741935

[111 rows x 4 columns]

In [14]:
poll_2015_df = df[df['Date Local'].dt.year == 2015]
poll_2015_df

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
1596001,0,1,73,23,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,2015-01-01,Parts per billion,...,Parts per billion,1.483333,2.7,9,3.0,Parts per million,0.240000,0.370,5,NaN
1596002,1,1,73,23,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,2015-01-01,Parts per billion,...,Parts per billion,1.483333,2.7,9,3.0,Parts per million,0.229412,0.300,7,3.0
1596003,2,1,73,23,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,2015-01-01,Parts per billion,...,Parts per billion,1.450000,2.3,5,NaN,Parts per million,0.240000,0.370,5,NaN
1596004,3,1,73,23,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,2015-01-01,Parts per billion,...,Parts per billion,1.450000,2.3,5,NaN,Parts per million,0.229412,0.300,7,3.0
1596005,4,1,73,23,"NO. B'HAM,SOU R.R., 3009 28TH ST. NO.",Alabama,Jefferson,Birmingham,2015-03-02,Parts per billion,...,Parts per billion,0.700000,1.4,23,1.0,Parts per million,0.233000,0.340,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1722052,126051,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2015-12-30,Parts per billion,...,Parts per billion,-0.057143,0.2,11,NaN,Parts per million,0.154167,0.200,0,2.0
1722053,126052,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2015-12-31,Parts per billion,...,Parts per billion,-0.187500,-0.1,16,0.0,Parts per million,0.103458,0.155,22,NaN
1722054,126053,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2015-12-31,Parts per billion,...,Parts per billion,-0.187500,-0.1,16,0.0,Parts per million,0.100000,0.100,0,1.0
1722055,126054,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2015-12-31,Parts per billion,...,Parts per billion,-0.175000,-0.1,17,NaN,Parts per million,0.103458,0.155,22,NaN
1722056,126055,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2015-12-31,Parts per billion,...,Parts per billion,-0.175000,-0.1,17,NaN,Parts per million,0.100000,0.100,0,1.0

In [15]:
pollution_2015_df.to_csv('Pollution_2015.csv', index=False)

NameError: name 'pollution_2015_df' is not defined

In [16]:
poll_2015_df = poll_2015_df[['Address', 'State', 'County', 'City', 'Date Local', 'NO2 AQI', 'O3 AQI', 'SO2 Mean', 'SO2 AQI', 'CO Mean','CO AQI']]

In [81]:
AQI_2015 = pollution_2015_df.groupby([pollution_2015_df['Date Local'].dt.month, 'State']).agg({'NO2 AQI': 'mean', 'O3 AQI': 'mean', 'SO2 AQI' :'mean', 'CO AQI': 'mean'})

In [82]:
AQI_2015.reset_index(level='State')

                 State    NO2 AQI     O3 AQI   SO2 AQI     CO AQI
Date Local
2015-01-01     Alabama  21.000000  21.000000  3.000000   3.000000
2015-01-01     Arizona  26.333333  31.333333  1.000000   5.333333
2015-01-01    Arkansas  19.000000  14.000000  1.000000   5.000000
2015-01-01  California  26.250000  30.458333  0.666667  10.375000
2015-01-01    Colorado  48.333333  27.000000  4.333333   9.666667
...                ...        ...        ...       ...        ...
2015-12-31       Texas  14.000000  25.000000  1.000000   3.600000
2015-12-31        Utah  49.000000  23.000000  1.000000   9.000000
2015-12-31    Virginia  10.000000  11.000000  0.000000   6.000000
2015-12-31  Washington  34.000000  14.000000  1.000000   5.000000
2015-12-31     Wyoming   8.000000  37.000000  0.000000   1.000000

[13881 rows x 5 columns]

In [5]:
AQI_2015.to_csv('AQI_2015.csv', index= True)

NameError: name 'AQI_2015' is not defined